name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.9.0

  build-and-test:
    runs-on: ubuntu-latest

    env:
      DB_HOST: localhost
      DB_PORT: 5432
      DB_USER: ${{ secrets.PG_USER_TEST }}
      DB_PASSWORD: ${{ secrets.PG_PASSWORD_TEST }}
      DB_NAME: ${{ secrets.PG_DB_TEST }}

    services:
      postgres:
        image: postgres:18-alpine
        env:
          POSTGRES_USER: ${{ secrets.PG_USER_TEST }}
          POSTGRES_PASSWORD: ${{ secrets.PG_PASSWORD_TEST }}
          POSTGRES_DB: ${{ secrets.PG_DB_TEST }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Run database migrations
        run: |
          go install -tags 'postgres' github.com/golang-migrate/migrate/v4/cmd/migrate@v4.19.1
          migrate -path ./migrations -database "postgres://$DB_USER:$DB_PASSWORD@$DB_HOST:$DB_PORT/$DB_NAME?sslmode=disable" up

      - name: Build
        run: go build -v ./...

      - name: Install test tools
        run: go install github.com/jstemmer/go-junit-report/v2@v2.1.0

      - name: Run tests
        run: |
          go test -v -json ./cmd/... ./internal/config/... ./internal/server/... ./internal/service/... 2>test-stderr.log | tee test-output.json | go-junit-report -set-exit-code > report.xml

      - name: Upload test report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: go-test-report
          path: report.xml
